{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block contenidoquecambia2%}

<title>About</title>

{% endblock %}

{% block contenidoquecambia3%}

<h1 class="mb-5">Sobre mi</h1>

{% endblock %}

{% block contenidoquecambia4%}
    <h1>Jeferson Mendoza Panocca</h1>
    <h5>Tengo 22 años , 
        estudio actualmente ing.sistemas y de forma técnica Cyberseguridad y Hacking Corporativo.
        Mi meta a corto plazo terminar mis estudios superiores y hacer un intercambio en Korea,
        aprender muchos mas lenguajes
        de programacion . Mi meta a largo plazo es poder trabajar en Google.
        
    </h5>
{% endblock %}